<section>
  <div class="imgBx">
    <img
      src="../../../assets/icons/logoGruasTransparente.jpg"
      class="cover"
      alt="Logo Grúas Higuita - Servicio grúa"
      title="Logo Grúas Higuita - Servicio grúa"
      height="1280"
      width="1068"
    />
  </div>
  <main class="content">
    <h1>Servicio de Grúas Higuita.</h1>
    <p>
      Una empresa destacada en servicios logísticos para una amplia variedad de
      vehículos, desde livianos hasta pesados, y maquinaria especializada.
      Nuestra reputación, velocidad y compromiso nos distinguen, ofreciendo
      soluciones de transporte eficientes y económicamente inigualables.
    </p>
    <div class="btnBox">
      <a
        href="https://api.whatsapp.com/send/?phone=573104165391&text&type=phone_number&app_absent=0"
        target="_blank"
        class="btn"
      >
        Reservar Servicio Grúa
      </a>
    </div>
  </main>

  <footer>
    <ul class="sci">
      <li>
        <a
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100091108029673&mibextid=ZbWKwL"
          title="Facebook - Grúas Higuita - Servicio Grúas"
        >
          <fa-icon [icon]="faFacebookF"></fa-icon
        ></a>
      </li>
      <li>
        <a
          href="servicio-grua-cali-economicas-24-horas#contacto"
          title="Contacto - Grúas Higuita - Servicio Grúas"
        >
          <fa-icon [icon]="faGoogle"></fa-icon
        ></a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.instagram.com/gruashiguita?igsh=MnZveDkxOXFodTIy"
          title="Instagram - Grúas Higuita - Servicio Grúas"
        >
          <fa-icon [icon]="faInstagram"></fa-icon
        ></a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.tiktok.com/@gruashiguita?_t=8lWonsBkqlK&_r=1"
          title="Tik Tok - Grúas Higuita - Servicio Grúas"
        >
          <fa-icon [icon]="faTiktok"></fa-icon
        ></a>
      </li>
    </ul>
    <p class="copyrightText">
      Copyright 2024
      <!-- <a href="https://code-pro.netlify.app/" target="_blank">
        &copy; {{ "{" }} code : PRO {{ "}" }}
      </a> -->
      <span> &copy; {{ "{" }} code : PRO {{ "}" }} </span>
      - All rights reserved.
    </p>
  </footer>
</section>
