<section class="services adjust">
  <div class="title">
    <h2>Servicios Que Ofrecemos</h2>
    <p>
      Con Cali como epicentro, nuestros servicios se expanden desde esta
      localidad para ofrecer cobertura a nivel nacional.
    </p>
  </div>
  <ul>
    <li class="serviceBox">
      <img
        src="../../../assets/servicioImg/servicio01.jpg"
        alt="servicio01 - Servicio grúa"
        title="servicio01 - Servicio grúa"
        loading="lazy"
      />
      <h3>Servicio grúa Motocicletas</h3>
      <p>
        Contamos con una amplia gama de maquinaria rentable, lista para
        proporcionarte soluciones oportunas y precisas que se ajusten a tus
        necesidades particulares.
      </p>
    </li>
    <li class="serviceBox">
      <img
        src="../../../assets/servicioImg/servicio02.jpg"
        alt="servicio02 - Servicio grúa"
        title="servicio02 - Servicio grúa"
        loading="lazy"
      />
      <h3>Servicios Livianos</h3>
      <p>
        Disponemos maquinaria de calidad y ofrecemos los precios más
        competitivos para brindar una asistencia responsable y eficiente en
        todos los servicios solicitados.
      </p>
    </li>
    <li class="serviceBox">
      <img
        src="../../../assets/servicioImg/servicio03.jpg"
        alt="servicio03 - Servicio grúa"
        title="servicio03 - Servicio grúa"
        loading="lazy"
      />
      <h3>Servicios medianos</h3>
      <p>
        Nuestros técnicos altamente capacitados y expertos están listos para
        brindarte la experiencia en seguridad y profesionalismo que solo
        <span><strong>Grúas</strong> Higuita</span> puede garantizar.
      </p>
    </li>
    <li class="serviceBox">
      <img
        src="../../../assets/servicioImg/servicio04.jpg"
        alt="servicio04 - Servicio grúa"
        title="servicio04 - Servicio grúa"
        loading="lazy"
      />
      <h3>Servicios grandes</h3>
      <p>
        Nuestro liderazgo en el mercado se fundamenta en nuestra continua
        responsabilidad y compromiso con la satisfacción de nuestros clientes.
      </p>
    </li>
    <li class="serviceBox">
      <img
        src="../../../assets/servicioImg/servicio05.jpg"
        alt="servicio05 - Servicio grúa"
        title="servicio05 - Servicio grúa"
        loading="lazy"
      />
      <h3>Servicio para maquinaria</h3>
      <p>
        Somos aliados de tu tiempo y tu economía. En
        <span><strong>Grúas</strong> Higuita</span>, garantizamos un transporte
        sin contratiempos para tu maquinaria, logrando tiempos de entrega
        increíbles junto con un excelente servicio para máquinas pesadas.
      </p>
    </li>
    <li class="serviceBox">
      <img
        src="../../../assets/servicioImg/servicio06.jpg"
        alt="servicio06 - Servicio grúa"
        title="servicio06 - Servicio grúa"
        loading="lazy"
      />
      <h3>Servicio traslado</h3>
      <p>
        En nuestro equipo, contamos con profesionales altamente capacitados y la
        maquinaria especializada necesaria para afrontar con éxito cualquier
        situación de traslado que se presente.
      </p>
    </li>
  </ul>
</section>
