<section class="nosotros adjust">
  <div class="title">
    <h2>Acerca De Nosotros</h2>
  </div>
  <div class="content">
    <article class="textBox">
      <p>
        <span><strong>Grúas</strong> Higuita</span> nació con el objetivo de
        brindar
        <strong>
          asistencia rápida, servicios inmediatos las 24 horas y tarifas muy
          económicas
        </strong>
        a aquellos que necesitan trasladar su vehículo de manera segura y
        confiable. Nos caracterizamos por desarrollar relaciones cercanas con
        nuestros clientes, priorizando su tiempo y presupuesto. Demostramos
        dedicación y compromiso en cada tarea que emprendemos, asegurando
        tranquilidad y confianza en cada desplazamiento.
      </p>
    </article>
    <div class="imgBx">
      <img
        src="../../../assets/images/nosotros.jpg"
        alt="Logo Grúas Higuita - Servicio grúa"
        title="Logo Grúas Higuita - Servicio grúa"
        loading="lazy"
      />
    </div>
  </div>
</section>
