<section class="contact">
  <div class="content">
    <h2>Contáctanos</h2>
    <p>
      Por cualquiera de nuestras vías <br />
      visítanos, llama o contáctanos para encontrar soluciones <br />
      a los problemas de remolque con tu vehículo.
    </p>
  </div>
  <div class="container">
    <ul>
      <li>
        <div class="icon">
          <fa-icon [icon]="faMapMarked"></fa-icon>
        </div>
        <article>
          <h3>Dirección</h3>
          <address>
            Calle 32 # 33-14
            <br />
            <strong>San Carlos</strong>
            <br />
            760013
          </address>
        </article>
      </li>
      <li>
        <div class="icon"><fa-icon [icon]="faPhone"></fa-icon></div>
        <article>
          <h3>Teléfonos</h3>
          <address>+(57) 310 416 53 91</address>
          <address>+(57) 315 383 82 33</address>
        </article>
      </li>
      <li>
        <div class="icon">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </div>
        <article>
          <h3>Email</h3>
          <address>Gruashiguita2023&#64;gmail.com</address>
        </article>
      </li>
    </ul>
    <div class="contactForm">
      <form
        name="contactForm"
        [formGroup]="contactForm"
        (ngSubmit)="sendContactMail(contactForm)"
      >
        <h3>Enviar Mensaje</h3>
        <div class="inputBox">
          <input
            name="nombreCompleto"
            id="nombreCompleto"
            formControlName="nombreCompleto"
            type="text"
            required
          />
          <label for="nombreCompleto">Nombre Completo</label>
        </div>
        <div class="inputBox">
          <input
            name="email"
            id="email"
            formControlName="email"
            type="text"
            required
          />
          <label for="email">Email</label>
        </div>
        <div class="inputBox">
          <textarea
            name="mensaje"
            id="mensaje"
            formControlName="mensaje"
            required
          ></textarea>
          <label for="mensaje">Escribir mensaje</label>
        </div>
        <div class="inputBox">
          <button type="submit" class="btn">{{ textButton }}</button>
        </div>
      </form>
    </div>
  </div>
</section>
